.img{
width: 100%;
height: auto;

}

.img1{
width: 20%;
height: auto;
float: right;

}
.img2{
width: 20%;
height: auto;
float: right;

}
.img3{
width: 20%;
height: auto;
float: right;

}
.img4{
width: 20%;
height: auto;
float: right;
}
.img5{
width: 20%;
height: auto;
float: right;
}

